.Home {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.imgHeader {
  width: 700px;
  height: auto;
  padding: 50px;
}

.heading_1 {
  position: absolute;
  top: 50%;
}

.para_1 {
  color: gray;
  position: absolute;
  top: 60%;
}

.div_1 {
  position: relative;
}

.button_1 {
  position: absolute;
  left: 50%;
}
