.header {
    border-bottom: 3px solid #969892;
}

nav {
    display: flex;
    align-items: center;
    height: 90px;
    padding-top: 30px;
    padding-bottom: 20px;
}

nav.stroke ul li {
    position: relative;
}

nav.stroke ul li:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.stroke ul li:hover:after {
    width: 100%;
}



.nav--logo_text,
.nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    font-weight: 700;
    font-size: 45px;
}

.nav--title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    text-align: center;
}


li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}

.cursor-pointer {
    cursor: pointer;
}