.header {
    border-bottom: 3px solid #969892;
}

nav {
    display: flex;
    align-items: center;
    height: 90px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.nav--logo_text,
.nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    font-weight: 700;
    font-size: 45px;
}

.nav--title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    text-align: center;
}


li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}